<footer class="w-full h-[180px] bg-[#00758e] flex justify-center items-center text-white font-main text-lg">
    <ul class="text-center">
        <a href="https://discord.gg/aRYWN5HwFU"><li class="mb-3 underline decoration-dashed underline-offset-4">Notre discord</li></a>
        <a href="https://meshtastic.org/"><li class="mt-3 underline decoration-dashed underline-offset-4">Site officiel Meshtastic</li></a>        
    </ul>
</footer>