<header class="w-full h-[70px] bg-gray-700 flex items-center pl-4 justify-between">
    <div class="h-full flex items-center">
        <img src="/alsace_blason.png" alt="" class="h-3/4" />
        <img id="logo" src="/meshtastic_logo.svg" alt="website_logo" class="h-3/4" />
        <p class="ml-4 text-3xl text-white"><span class="text-7xl font-extrabold">67</span>.org</p>
    </div>

    <a class="h-3/4 mr-4 cursor-pointer" href="#">
        <img src="/discord_logo.png" alt="logo de discord"  class="h-full p-2 rounded-xl shadow-2xl bg-gray-50" />
    </a>
</header>

<style>
    #logo {
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(141deg) brightness(103%) contrast(101%);
    }
</style>