<header class="w-full h-[70px] bg-gray-700 flex items-center pl-4 justify-between">
    <div class="h-full flex items-center py-2">
        <img src="/alsace_blason.png" alt="" class="h-3/4 max-sm:h-1/2" />
        <img id="logo" src="/meshtastic_logo.svg" alt="website_logo" class="h-3/4 max-sm:h-1/3 max-sm:ml-1" />
        <p class="ml-2 text-3xl text-white max-sm:text-2xl max-sm:ml-1"><span class="text-5xl font-semibold max-sm:text-2xl">67</span>.org</p>
    </div>
</header>

<style>
    #logo {
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(141deg) brightness(103%) contrast(101%);
    }
</style>