
<!-- 
<section class="w-full h-[10px] bg-[#01758E] flex justify-center items-center gap-10">

    
    <img src="/alsace_blason.png" alt="" class="h-3/4" />
    <h1 class="text-3xl text-white">Les Alsaciens rejoignent le mesh !</h1>
</section>
-->